/* for proper form-sizing */
* {
  box-sizing: border-box;
}
/* basics */
html {
    margin: 0.2em;
    background-color: #040;
    font-family: "latin modern roman", Garamond, Georgia, "Times New Roman", Times, sans-serif;
    color: black;
    font-size: 1.6em;
}
body {
    padding: 0.4rem;
}
a {
    color:#060;
    text-decoration: none;
    cursor: pointer;
}
math {
    font-size: 1rem;
}
img {
    max-width: 100%;
}
/* stuff for forms: */
textarea {
    display: inline-block;
    float: left;
    font-size: 0.7rem;
    width: 100%;
    max-width:100%;
    min-width:250px;
    height: 200px;
}
/* other stuff */
button {
    font-size: 1rem;
    max-width:100%;
    min-width:250px;
}
p {
    page-break-inside: avoid;
}
/* fonts */
@font-face {
    font-family: "latin modern roman";
    src: url("lmroman10-regular.woff2") format('woff2');
}

@font-face {
    font-family: "latin modern roman";
    src: url("lmroman10-bold.woff2") format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: "latin modern roman";
    src: url("lmroman10-bolditalic.woff2") format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "latin modern roman";
    src: url("lmroman10-italic.woff2") format('woff2');
    font-style: italic;
}
