html {
    font-size: large;
}
img {
    max-width: 100%;
}
textarea {
    display: inline-block;
    font-size: 0.8rem;
    width: 100%;
    max-width:100%;
    min-width:250px;
}
/* general */
div#container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap:wrap;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 0.4rem;
    margin: 0.2em;
    border:0px solid black;
}
div#htmlOut {
    border:1px solid black;
    width:65%;
    background-color:#fff;
    min-height:2rem;
}
textarea#mdtex {
    width:33%;
}
button {
    min-width:250px;
}
/* for mobiles */
@media only screen and (max-width: 980px) {
    div#container {
        margin: 0.4;
        padding: 0;
    }
    textarea#mdtex {
        width:100%;
        margin:auto;
        height:250px;
    }
    div#htmlOut {
        width:100%;
        margin:auto;
        margin-bottom: 1rem;
        padding:0.2rem;
    }
}
/* dark-mode */
@media (prefers-color-scheme: dark) {
    textarea#mdtex {
        background-color: #222;
        color: white;
        border: 1px solid black;
    }
    textarea#mdtex:disabled {
        background-color: #111;
        color: #666;
    }
    div#htmlOut {
        background-color: #222;
        color: white;
    }
}
/* print */
@media print {
    html {
        font-size: 12pt;
    }
    div#htmlOut {
        margin: 0;
        margin-bottom: 0;
        border: 0;
        padding: 0;
        width:100%;
    }
    div#container {
        margin: 0;
        padding: 0;
    }
}
