<!doctype html>
<html>
    <head>
        <title>mdTeXerPad</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="static/favicon.svg">
        <link rel="icon" href="static/favicon.svg">
        <link rel="stylesheet" type="text/css" href="static/polar.css" />
        <link rel="stylesheet" type="text/css" href="static/main.css" />
    </head>
    <body>
        <h3 class="no-print" style="text-align:center;">mdTeXerPad</h3>
        <div id="container">
            <div id="htmlOut"></div>
            <textarea id="mdtex" class="no-print" oninput="sendMdTeX()" disabled></textarea>
        </div>
        <div class="no-print" style="text-align:center; clear:both; margin:1rem;">
            <button id="print" onclick="window.print();">pdf/print</button>
            <button id="save" onclick="save()">Save</button>
            <button id="hideCode" onclick="hideCode()">Hide Code</button>
            <button id="editMode" onclick="toggleEdit()">Edit</button>
        </div>
        <div id="loadctl" class="no-print" style="text-align:center; clear:both; margin:1rem; display:none;">
            <input type="file" name="loadfile" id="loadfile">
            <button id="load" onclick="load()">load</button>
        </div>
        <div id="notConnected" class="no-print" style="width:100%;background-color:rgba(255,150,150,0.5);display:none;">
            <p style="text-align:center;">Not connected to WebSocketServer!<!--<button onclick="connect()">Try Reconnect</button>--></p>
        </div>
        <footer class="no-print" style="font-size:0.7rem; float:right; clear:both; margin-bottom:1rem;">
            <p>(c) 2020-2021 Dirk Winkel, licensed under GPLv3 or newer - <a href="https://github.com/polarwinkel/mdTeXerPad" target="_blank">Fork me on GitHub</a></p>
        </footer>
        <script>
            var subpath = '{{ path }}';
            function connect() {
                var mdtex = document.querySelector('#mdtex');
                if (window.location.protocol=='http:'){
                    var wsPath = 'ws://';
                } else {
                    var wsPath = 'wss://';
                }
                wsPath += window.location.hostname+':'+window.location.port;
                wsPath += window.location.pathname.replace(subpath,'')+'ws';// will run behind any proxied subpath
                try {
                    var ws = new WebSocket(wsPath);
                } catch(e) {
                    document.getElementById('notConnected').style.display='block';
                }
                mdtex.oninput = function (event) {
                    if (window.location.pathname.endsWith('edit')) {
                        try {
                            ws.send(mdtex.value);
                        } catch(e) {
                            document.getElementById('notConnected').style.display='block';
                        }
                    } else {
                        mdtex.disabled = true;
                    }
                }
                ws.onmessage = function (event) {
                    data = JSON.parse(event.data);
                    out = document.getElementById('htmlOut');
                    out.innerHTML = data.html;
                    if (window.location.pathname.endsWith('edit') == false ||
                            mdtex.value == '') {
                        // just one person should edit at a time:
                        // for more a cursor management would be necessary
                        mdtex.value = data.mdtex;
                    }
                    console.log(data.users + ' users connected');
                };
                ws.onopen = function (e) {
                    document.getElementById('notConnected').style.display='none';
                };
                ws.onclose = function(e) {
                    console.log('Socket is closed. Reconnect will be attempted in 3 seconds.', e.reason);
                    setTimeout(function() {
                        if (ws.readyState != 1) {
                            document.getElementById('notConnected').style.display='block';
                        }
                        connect();
                    }, 3000);
                }
                ws.onerror = function(err) {
                    console.error('Socket encountered error: ', err.message, 'Closing socket');
                    ws.close();
                };
            }
            connect();
            if (window.location.pathname.endsWith('edit')) {
                mdtex.disabled = false;
                document.getElementById('editMode').innerHTML = 'Quit edit mode';
                document.getElementById('loadctl').style.display='block';
            }
            function load() {
                var file = document.getElementById('loadfile').files[0];
                var fr=new FileReader();
                fr.onload=function(){
                    mdtex.value=fr.result;
                    mdtex.dispatchEvent(new Event("input"));
                }
                fr.readAsText(file);
            }
            function save() {
                text = mdtex.value,
                    blob = new Blob([text], { type: 'text/plain' }),
                    anchor = document.createElement('a');
                anchor.download = "filename.mdtex";
                anchor.href = (window.webkitURL || window.URL).createObjectURL(blob);
                anchor.dataset.downloadurl = ['text/plain', anchor.download, anchor.href].join(':');
                anchor.click();                
            }
            document.onkeydown = function(e){
                if(e.ctrlKey && e.which === 83){ // Check for the Ctrl key being pressed, and if the key = [S] (83)
                    save();
                    e.preventDefault();
                    return false;
                }
            }
            function toggleEdit() {
                btn = document.getElementById('editMode');
                if (btn.innerHTML == 'Quit edit mode') {
                    window.location.assign(window.location.href.slice(0, -4))
                    btn.innerHTML = 'Edit';
                    document.getElementById('loadctl').style.display='none';
                } else {
                    // TODO: Warn when someone is already editing? > get info from Server
                    // Not blocking multiple editing users:
                    // - would need a Moderator
                    // - can be useful as it is
                    window.location.assign(window.location.href.concat('edit'))
                    btn.innerHTML = 'Quit edit mode';
                    document.getElementById('loadctl').style.display='block';
                }
            }
            function hideCode() {
                btn = document.getElementById('hideCode');
                out = document.getElementById('htmlOut');
                mdtex = document.querySelector('#mdtex');
                if (btn.innerHTML == 'Hide Code') {
                    out.style.width='100%';
                    mdtex.style.display='none';
                    btn.innerHTML = 'Show Code';
                } else {
                    mediaQuery = window.matchMedia('only screen and (max-width: 980px)');
                    if (mediaQuery.matches) {
                        out.style.width='100%';
                    } else {
                        out.style.width='65%';
                    }
                    mdtex.style.display='block';
                    btn.innerHTML = 'Hide Code';
                }
            }
        </script>
    </body>
</html>
